{%- if article and article != empty -%}
  <div class="article-card-wrapper color-{{ section.settings.color_scheme }}">
    <div class=" card article-card card--{{ settings.blog_card_style }} card--media">
      <div class="card__inner">
        {%- if show_image == true and article.image -%}
          <div class="article-card__image-wrapper card__media">
            <div class="article-card__image">
              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
              <img
                srcset="
                  {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                  {{ article.image.src | image_url }} {{ article.image.src.width }}w
                "
                src="{{ article.image.src | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ article.image.src.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
              >
              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
            </div>
          </div>
        {%- endif -%}
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading{% if show_excerpt %} h3{% endif %}">
              {{ article.title | truncate: 50 | escape }}
            </h3>
            <div class="article-card__info caption-with-letter-spacing h5">
              {%- if show_date -%}
                <span class="circle-divider">{{ article.published_at | time_tag: format: 'date' }}</span>
              {%- endif -%}
              {%- if show_author -%}
                <span>{{ article.author }}</span>
              {%- endif -%}
            </div>
            <p class="article-card__excerpt rte-width">
              {%- if article_excerpt -%}
                {{ article.excerpt | strip_html | truncatewords: 60 }}
              {%- else -%}
                {{ article.content | strip_html }}
              {%- endif -%}
            </p>
            {% if forloop_index != 0 %}
              <a
                href="#{{ article.title | handle }}"
                data-modal-blog="{{ article.title | handle }}-{{ forloop_index }}"
                class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
              >
                {{ 'sections.featured_blog.read_more' | t }}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
