{%- style -%}
  @media screen and (max-width: 768px) {
    .article-card-wrapper.block-{{ block.id }} .article-card__image-wrapper .image {
      max-height: {{ block.settings.size | divided_by: 4.11 | divided_by: 1.666 | round: 4 }}vw;
    }
  }
  @media screen and (min-width: 769px) {
    .article-card-wrapper.block-{{ block.id }} .article-card__image-wrapper .image {
      max-height: {{ block.settings.size | divided_by: 19.20 | round: 4 }}vw;
    }
  }
{%- endstyle -%}
<div
  class="article-card-wrapper color-{{ section.settings.color_scheme }} block-{{ block.id }}"
  {{ block.shopify_attributes }}
>
  <div class=" card article-card card--{{ settings.blog_card_style }} card--media">
    <div class="card__inner">
      <div class="article-card__image-wrapper card__media">
        <div class="article-card__image">
          {%- if block.settings.image != blank -%}
            {%- capture sizes -%}
                  (min-width: 769px) {{ max_width_page_width | divided_by: 2.0 }}px,
                  (max-width: 768px) calc({{ max_width_mobile }}vw)
                {%- endcapture -%}
            {{
              block.settings.image
              | image_url: width: max_width_page_width
              | image_tag: loading: 'lazy', sizes: sizes, widths: '165,240, 360, 535, 750', class: 'image'
            }}
          {%- else -%}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--no-padding' }}
          {%- endif -%}
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading h3">
            {{ block.settings.heading | truncate: 50 }}
          </h3>
          {%- if show_short -%}
            {{ block.settings.short_text }}
            <a
              href="#{{ block.settings.heading | handle }}"
              data-modal-blog="{{ block.settings.heading | handle }}-{{ forloop.index }}"
              class="button button--primary"
            >
              {{ 'sections.featured_blog.read_more' | t }}
            </a>
          {%- else -%}
            {{ block.settings.text }}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
