{{ 'section-contact-us-form.css' | asset_url | stylesheet_tag }}
<script src="{{ 'featured-contact-us-form.js' | asset_url }}" defer="defer"></script>

<div class="contact-us-form-modal" id="contact-us-form-modal">
  <div class="modal-bg contact-us-modal-exit"><span></span></div>
  <div class="contact-us-form-modal-container color-{{ section.settings.color_scheme }} gradient">
    <button class="modal-close contact-us-modal-exit"><span></span></button>
    <div class="modal-inner">
      <div class="contact-us-form-main">
        <div class="contact-us-form-header">
          {%- if section.settings.heading != blank -%}
            <h2 class="title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
              {{ section.settings.heading }}
            </h2>
          {%- else -%}
            <h2 class="visually-hidden">{{ 'templates.contact_us.form.title' | t }}</h2>
          {%- endif -%}
          {%- liquid
            assign contact_form_class = 'isolate'
            if settings.animations_reveal_on_scroll
              assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
            endif
          -%}
        </div>
        {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
          {%- if form.posted_successfully? -%}
            <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
              {% render 'icon-success' %}
              {{ 'templates.contact_us.form.post_success' | t }}
            </h2>
          {%- elsif form.errors -%}
            <div class="form__message">
              <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                {% render 'icon-error' %}
                {{ 'templates.contact_us.form.error_heading' | t }}
              </h2>
            </div>
            <ul class="form-status-list caption-large" role="list">
              <li>
                <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email }}
                </a>
              </li>
            </ul>
          {%- endif -%}
          <div class="contact__fields">
            <div class="field">
              <div class="sub-title">
                <span>{{ 'templates.contact_us.form.name_label' | t }}</span>
              </div>
              <input
                class="field__input"
                autocomplete="name"
                type="text"
                id="ContactForm-name"
                name="contact[{{ 'templates.contact_us.form.name' | t }}]"
                value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                placeholder="{{ 'templates.contact_us.form.name' | t }}"
              >
              <label class="field__label" for="ContactForm-name">{{ 'templates.contact_us.form.name' | t }}</label>
            </div>
            <div class="field field--with-error">
              <div class="sub-title">
                <span>{{ 'templates.contact_us.form.email_label' | t }}</span>
              </div>
              <input
                autocomplete="email"
                type="email"
                id="ContactForm-email"
                class="field__input"
                name="contact[email]"
                spellcheck="false"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {% if form.errors contains 'email' %}
                  aria-invalid="true"
                  aria-describedby="ContactForm-email-error"
                {% endif %}
                placeholder="{{ 'templates.contact_us.form.email' | t }}"
              >
              <label class="field__label" for="ContactForm-email">
                {{- 'templates.contact_us.form.email' | t }}
                <span aria-hidden="true">*</span></label
              >
              {%- if form.errors contains 'email' -%}
                <small class="contact__field-error" id="ContactForm-email-error">
                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                  <span class="form__message">
                    {%- render 'icon-error' -%}
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </span>
                </small>
              {%- endif -%}
            </div>
          </div>
          <div class="field">
            <div class="sub-title">
              <span>{{ 'templates.contact_us.form.url' | t }}</span>
            </div>
            <input
              type="url"
              id="ContactForm-url"
              class="field__input"
              autocomplete="url"
              name="contact[{{ 'templates.contact_us.form.url' | t }}]"
              pattern="http://.*"
              value="{% if form.company %}{{ form.company }}{% elsif customer %}{{ customer.company }}{% endif %}"
              placeholder="{{ 'templates.contact_us.form.url' | t }}"
            >
            <label class="field__label" for="ContactForm-url">{{ 'templates.contact_us.form.url_example' | t }}</label>
          </div>
          <div class="field last">
            <div class="example-button">
              <a href="#" class="simple-btn" data-next-page>{{ 'templates.contact_us.form.example' | t }}</a>
            </div>
            <div class="template-button">
              <a href="#" class="simple-btn border">{{ 'templates.contact_us.form.template_button' | t }}</a>
            </div>
            <div class="sub-title">
              <span>{{ 'templates.contact_us.form.comment_label' | t }}</span>
            </div>
            <textarea
              rows="10"
              id="ContactForm-body"
              class="text-area field__input"
              name="contact[{{ 'templates.contact_us.form.comment' | t }}]"
              placeholder="{{ 'templates.contact_us.form.comment' | t }}"
            >
          {{- form.body -}}
        </textarea>
            <label class="form__label field__label  f-hide" for="ContactForm-body">
              {{- 'templates.contact_us.form.comment' | t -}}
            </label>
          </div>
          <div class="contact__button">
            <button type="submit" class="button text-transform__uppercase">
              {{ 'templates.contact_us.form.send' | t }}
            </button>
          </div>
        {%- endform -%}
      </div>
      <div class="contact-us-page-main">
        <div class="contact-us-page-header">
          {%- if section.settings.heading_2 != blank -%}
            <h2 class="title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
              {{ section.settings.heading_2 }}
            </h2>
          {%- else -%}
            <h2 class="visually-hidden">{{ 'templates.contact_us.form.title' | t }}</h2>
          {%- endif -%}
          {%- liquid
            assign contact_form_class = 'isolate'
            if settings.animations_reveal_on_scroll
              assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
            endif
          -%}
        </div>
        <div class="contact-us-page-subheader">
          <div class="contact-us-page__heading">
            <p>{{ 'templates.contact_us.form.point_heading' | t }}</p>
          </div>
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
                <div class="contact-us-page__points" {{ block.shopify_attributes }}>
                  <p>{{ block.settings.heading }}</p>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
        <div class="contact-us-page-body">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                <div class="contact-us-page__text_heading" {{ block.shopify_attributes }}>
                  <p>{{ block.settings.heading }}</p>
                </div>
                <div class="contact-us-page__text" {{ block.shopify_attributes }}>
                  <p>{{ block.settings.text }}</p>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
        <div class="contact-us-page-back-btn">
          <a href="#" class="back-btn" data-back-page>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="93"
              height="25"
              viewBox="56 12 45 1"
              fill="none"
              class="icon icon-caret-double"
            >
              <path d="M78.9765 24.6671C78.7633 24.4539 78.6436 24.1647 78.6436 23.8632C78.6436 23.5617 78.7633 23.2726 78.9765 23.0594L89.5427 12.4931L78.9765 1.9269C78.7693 1.71246 78.6547 1.42525 78.6573 1.12713C78.6599 0.829009 78.7795 0.543833 78.9903 0.333022C79.2011 0.122212 79.4863 0.00263357 79.7844 4.2982e-05C80.0825 -0.0025476 80.3697 0.112057 80.5842 0.319172L91.9543 11.6893C92.1674 11.9025 92.2872 12.1916 92.2872 12.4931C92.2872 12.7946 92.1674 13.0838 91.9543 13.297L80.5842 24.6671C80.371 24.8803 80.0818 25 79.7803 25C79.4788 25 79.1897 24.8803 78.9765 24.6671Z" fill="white"></path>
              <path d="M66.4765 24.6671C66.2633 24.4539 66.1436 24.1647 66.1436 23.8632C66.1436 23.5617 66.2633 23.2726 66.4765 23.0594L77.0427 12.4931L66.4765 1.9269C66.2693 1.71246 66.1547 1.42525 66.1573 1.12713C66.1599 0.829009 66.2795 0.543833 66.4903 0.333022C66.7011 0.122212 66.9863 0.00263357 67.2844 4.2982e-05C67.5825 -0.0025476 67.8697 0.112057 68.0842 0.319172L79.4543 11.6893C79.6674 11.9025 79.7872 12.1916 79.7872 12.4931C79.7872 12.7946 79.6674 13.0838 79.4543 13.297L68.0842 24.6671C67.871 24.8803 67.5818 25 67.2803 25C66.9788 25 66.6897 24.8803 66.4765 24.6671Z" fill="white"></path>
            </svg>
            {{ 'templates.contact_us.form.back_button' | t }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="contact-us-form-modal-button color-{{ section.settings.color_scheme }} gradient"
  id="contact-us-form-modal-button"
>
  <a data-button="get-a-free-quote" href="#get-a-free-quote" class="button button--primary">
    {{- 'templates.contact_us.form.popup_button' | t -}}
  </a>
</div>

{% schema %}
{
    "name": "t:sections.contact-us-form.name",
    "tag": "section",
    "class": "section",
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "Contact form",
        "label": "t:sections.contact-us-form.settings.heading.label"
      },
      {
        "type": "inline_richtext",
        "id": "heading_2",
        "default": "Contact form",
        "label": "t:sections.contact-us-form.settings.heading_2.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h3",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h2",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      }
    ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        }
      ]
    }
  ],
"presets": [
  {
    "name": "t:sections.contact-us-form.presets.name"
  }
]
}
{% endschema %}
