{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}
<script src="{{ 'featured-blog.js' | asset_url }}" defer="defer"></script>
{%- liquid
  assign max_width_page_width = settings.page_width | divided_by: section.settings.number_slide_desktop | times: 2.0
  assign max_width_mobile = 100
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | divided_by: 4.11 | round: 4 }}vw;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | divided_by: 4.11 | round: 4 }}vw;
  }

   @media screen and (max-width: 768px) {
      .blog .splide__slide {
        width:100%;
      }
    }

  @media screen and (min-width: 769px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | divided_by: 19.20 | round: 4 }}vw;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 19.20 | round: 4 }}vw;
    }
     .blog .splide__slide {
         width: {{ 100 | divided_by: section.settings.number_slide_desktop | round}}%;
      }
  }
{%- endstyle -%}

<div class="blog color-{{ section.settings.color_scheme }} gradient{% if section.settings.heading == blank %} no-heading{% endif %}">
  <div class="featured-blog isolate section-{{ section.id }}-padding">
    <div
      id="Blogslider"
      class="splide slider-mobile-gutter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      data-number-slide-desktop="{{ section.settings.number_slide_desktop }}"
    >
      <div class="title-and-buttons">
        {%- unless section.settings.heading == blank -%}
          <div class="title-wrapper-with-link title-wrapper--no-top-margin">
            <h2
              id="SectionHeading-{{ section.id }}"
              class="blog__title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
              {% endif %}
            >
              {{ section.settings.heading }}
            </h2>
          </div>
        {%- endunless -%}
        <div class="slider-buttons splide__arrows ">
          <button
            type="button"
            class="slider-button slider-button--prev splide__arrow splide__arrow--prev"
            aria-label="Previous slide"
            aria-controls="Blogslider-track"
          >
            {% render 'icon-caret-double' %}
          </button>
          <button
            type="button"
            class="slider-button slider-button--next splide__arrow splide__arrow--next"
            aria-label="Next slide"
            aria-controls="Blogslider-track"
          >
            {% render 'icon-caret-double' %}
          </button>
        </div>
      </div>

      <div class="splide__track">
        <ul
          id="Slider-{{ section.id }}"
          class="splide__list blog__posts articles-wrapper contains-card contains-card--article{% if settings.card_style == 'standard' %} contains-card--standard{% endif %}"
          role="list"
        >
          {%- for block in section.blocks -%}
            <li
              class="splide__slide blog__post grid__item article slider__slide slider__slide--full-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {% render 'custom-article-card',
                block: block,
                max_width_page_width: max_width_page_width,
                max_width_mobile: max_width_mobile,
                show_short: true,
                forloop: forloop
              %}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</div>

{%- for block in section.blocks -%}
  <div class="modal" id="readmore-{{ block.settings.heading | handle }}-{{ forloop.index }}">
    <div class="modal-bg modal-exit"><span></span></div>
    <div class="modal-container color-{{ section.settings.color_scheme }} gradient">
      <div class="modal-inner">
        <div class="modal-inner__blog">
          {% render 'custom-article-card',
            block: block,
            max_width_page_width: max_width_page_width,
            max_width_mobile: max_width_mobile,
            forloop: forloop
          %}
        </div>
      </div>
      <button class="modal-close modal-exit"><span></span></button>
    </div>
  </div>
{%- endfor -%}

{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "class": "section-featured-blog-main",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "range",
      "id": "number_slide_desktop",
      "min": 2,
      "max": 4,
      "step": 1,
      "unit": "U",
      "label": "t:sections.logo-list.settings.number_slide_desktop.label",
      "default": 3
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 198,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 144
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 198,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
    "blocks": [{
        "type": "text",
        "name": "t:sections.featured-blog.blocks.name",
        "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "t:sections.featured-blog.blocks.settings.image.label",
              "info": "t:sections.featured-blog.blocks.settings.image.info"
            },
            {
                "type": "range",
                "id": "size",
                "min": 10,
                "max": 100,
                "step": 1,
                "unit": "px",
                "label": "t:sections.featured-blog.blocks.settings.size.label",
                "default": 50
            },
            {
                "type": "richtext",
                "id": "heading",
                "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
                "label": "t:sections.featured-blog.blocks.settings.heading.label"
            },
            {
                "type": "richtext",
                "id": "short_text",
                "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
                "label": "t:sections.featured-blog.blocks.settings.short_text.label"
            },
            {
                "type": "richtext",
                "id": "text",
                "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
                "label": "t:sections.featured-blog.blocks.settings.text.label"
            }
        ]
    }],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
      }
    }
  ]
}
{% endschema %}
