{{ 'section-featured-block-texts.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | divided_by: 4.11 | round: 4 }}vw;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | divided_by: 4.11 | round: 4 }}vw;
  }

  @media screen and (min-width: 769px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | divided_by: 19.20 | round: 4 }}vw;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 19.20 | round: 4 }}vw;
    }
  }
{%- endstyle -%}
<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div
    class="featured-block-texts content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} featured-block-texts--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding"
  >
    <div class="featured-block-texts__wrapper_head {% if section.settings.full_width %} page-width{% endif %} featured-block-texts-align-{{ section.settings.desktop_content_alignment }} {{ section.settings.desktop_content_alignment }}">
      {%- if section.settings.heading != blank -%}
        <div class="featured-block-texts__heading{% if request.path contains 'page' %} extra-margin-page{% endif %}">
          <h2 class="featured-block-texts__heading inline-richtext {{ section.settings.heading_size }} {{ section.settings.text_transform }}">
            {{ section.settings.heading }}
          </h2>
        </div>
      {%- endif %}
      {%- if section.settings.text != blank -%}
        <div class="featured-block-texts__text rte {{ section.settings.text_transform }} {% if request.path contains 'page' %} extra-margin-page-text{% endif %}">
          {{ section.settings.text }}
        </div>
      {%- endif -%}
    </div>
    <div class="featured-block-texts__wrapper {% if section.settings.full_width %} page-width{% endif %}">
      {%- for block in section.blocks -%}
        <div class="featured-block-texts__block {% if section.settings.full_width %} page-width{% endif %}{% if request.path contains 'page' %} extra-margin-page-mobile{% endif %}">
          {%- if block.settings.heading != blank -%}
            <div class="featured-block-texts__heading">
              <h3 class="featured-block-texts__heading inline-richtext h3 {{ section.settings.text_transform }}{% if section.settings.count %} count_flex{% endif %}">
                {%- if section.settings.count -%}
                  <P class="count">{{ forloop.index }} ] </P>
                {%- endif -%}
                {{ block.settings.heading }}
              </h3>
            </div>
          {%- endif %}
          {%- if block.settings.text != blank -%}
            <div class="featured-block-texts__text rte {{ section.settings.text_transform }}">
              <P>{{ block.settings.text }}</P>
            </div>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{% schema %}
{
    "name": "t:sections.featured-block-texts.name",
    "tag": "section",
    "class": "section",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings": [{
            "type": "richtext",
            "id": "heading",
            "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
            "label": "t:sections.featured-block-texts.settings.heading.label"
        },
        {
            "type": "select",
            "id": "heading_size",
            "options": [{
                    "value": "h2",
                    "label": "t:sections.all.heading_size.options__1.label"
                },
                {
                    "value": "h1",
                    "label": "t:sections.all.heading_size.options__2.label"
                },
                {
                    "value": "h0",
                    "label": "t:sections.all.heading_size.options__3.label"
                },
                {
                    "value": "hxl",
                    "label": "t:sections.all.heading_size.options__4.label"
                }
            ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
        },
        {
            "type": "select",
            "id": "desktop_content_alignment",
            "options": [{
                    "value": "left",
                    "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
                },
                {
                    "value": "center",
                    "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
                },
                {
                    "value": "right",
                    "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
                }
            ],
            "default": "center",
            "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
        },
        {
            "type": "richtext",
            "id": "text",
            "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
            "label": "t:sections.featured-block-texts.settings.text.label"
        },
        {
            "type": "select",
            "id": "text_transform",
            "label": "t:sections.header.settings.text_transform.label",
            "options": [{
                    "value": "capitalize",
                    "label": "t:sections.header.settings.text_transform.options.capitalize.label"
                },
                {
                    "value": "uppercase",
                    "label": "t:sections.header.settings.text_transform.options.uppercase.label"
                },
                {
                    "value": "lowercase",
                    "label": "t:sections.header.settings.text_transform.options.lowercase.label"
                },
                {
                    "value": "none",
                    "label": "t:sections.header.settings.text_transform.options.none.label"
                }
            ],
            "default": "none"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:sections.all.colors.label",
            "default": "background-1"
        },
        {
            "type": "checkbox",
            "id": "count",
            "default": false,
            "label": "t:sections.featured-block-texts.settings.count.label"
        },
        {
            "type": "checkbox",
            "id": "full_width",
            "default": true,
            "label": "t:sections.rich-text.settings.full_width.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 40
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 52
        }
    ],
    "blocks": [{
        "type": "text",
        "name": "t:sections.featured-block-texts.blocks.name",
        "settings": [{
                "type": "richtext",
                "id": "heading",
                "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
                "label": "t:sections.featured-block-texts.blocks.settings.heading.label"
            },
            {
                "type": "richtext",
                "id": "text",
                "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
                "label": "t:sections.featured-block-texts.blocks.settings.text.label"
            }
        ]
    }],
    "presets": [{
        "name": "t:sections.featured-block-texts.name"
    }]
}
{% endschema %}
